@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Righteous&display=swap');

// Fonts
$font-text: 'Cabin', sans-serif;
$font-title: 'Righteous', cursive;

// Colors
$color-primary: #2b2424;
$color-success: #4ecca3;
$color-danger: #ff6464;
$color-input-bg: #f4f6f8;
$color-input-border: #c2c1c3;

// Border Radius
$rd-normal: 6px;
